@font-face {
  font-family: "Mazzard";
  src: url(font/mazzard.otf);
}
@font-face {
  font-family: "Mazzard-Light";
  src: url(font/mazzard-light.otf);
}
html {
  scroll-behavior: smooth;
  font-family: "Mazzard";
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  /*
  Light theme colors.
  */
  --light-primary: #FFFFFF;
  --light-lighter: #FDFDFD;
  --light-secondary: #FDFDFD;
  --light-hover-primary: #EFEFEF;
  --light-font-primary: #666666;
  --light-font-highlight: #111111;
  --light-font-reversed: var(--light-font-highlight);
  --theme-color-light: #4182E4 !important;
  
  /*
  Dark theme colors.
  */
  --dark-primary: #222222;
  --dark-darker: #222222;
  --dark-secondary: #333333;
  --dark-hover-primary: #444444;
  --dark-font-primary: #CCCCCC;
  --dark-font-highlight: #FFFFFF;
  --dark-font-reversed: var(--dark-primary);
  --theme-color-dark: rgb(29, 55, 95) !important;

  /*
  Default light theme values.
  */
  --background-primary: var(--light-primary);
  --background-secondary: var(--light-secondary);
  --hover-primary: var(--light-hover-primary);
  --font-primary: var(--light-font-primary);
  --font-highlight: var(--light-font-highlight);
  --theme-subtle: var(--light-lighter);
  --font-reversed: var(--light-font-reversed);
  --theme-primary: var(--theme-color-light) !important;
  --theme-secondary: var(--theme-color-light) !important;
  --mdc-theme-primary: var(--theme-primary) !important;
  --mdc-theme-secondary: var(--theme-primary) !important;

  /*
  Other colors.
  */
  --error-primary: #da291c;
  --error-hover: rgba(218, 41, 28, 0.8);

  --warn-primary: #f6be00;
  --warn-hover: rgba(246, 189, 0, 0.8);

  --success-primary: #249e6b;
  --success-hover: rgba(36, 158, 107, 0.8);
}

.full-width {
  width: 100% !important;
}

.mdc-data-table, 
.mdc-data-table__header-cell,
.mdc-data-table__cell,
.mdc-data-table__row,
.mdc-data-table__table,
.mdc-data-table__row-checkbox,
.mdc-checkbox,
.mdc-data-table__cell--checkbox,
.mdc-data-table__content,
.mdc-dialog__content,
.mdc-dialog__surface,
.mdc-dialog__title,
.mdc-select__selected-text,
.mdc-select__dropdown-icon,
.mdc-select
{
  color: var(--font-highlight) !important;
  font-family: "Mazzard" !important;
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  border-color: var(--hover-primary) !important;
  background-color: var(--background-secondary);
}
.mdc-data-table__row:hover .mdc-data-table__cell, 
.mdc-data-table__row:hover .mdc-checkbox {
  background-color: var(--hover-primary) !important;
}

.mdc-dialog__actions {
  background-color: var(--background-secondary) !important;
  border-style: solid !important;
  border-width: 1 0 0 0 !important;
  border-color: var(--hover-primary) !important;
}

.mdc-text-field-35 {
  width: 35% !important;
}
.nopad {
  padding: 0px !important;
}

.nomargin {
  margin: 0px !important;
}

.mdc-fab {
  font-family: "Mazzard" !important;
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  color: #FFFFFF !important;
  background-color: var(--theme-primary);
}
.app-fab--absolute {
  position: fixed !important;
  bottom: 2rem;
  right: 1rem;
}
@media(min-width: 1024px) {
  .app-fab--absolute {
   bottom: 1.5rem;
   right: 1.5rem;
 }
}

.ab-space-right {
  margin-right: 10px;
}

.mdc-chip {
  font-family: "Mazzard" !important;
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  color: var(--font-reversed) !important;
  background-color: var(--hover-primary);
}

.mdc-form-field {
  font-family: "Mazzard" !important;
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  color: var(--font-highlight) !important;
}

body {
  overflow: hidden;
  font-family: "Mazzard";
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  background-color: var(--background-primary);
  color: var(--font-primary);
  margin: 0px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.preload {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  z-index: 100; 
  background: var(--background-primary);
  color: var(--font-highlight);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  padding-left: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--font-primary);
  border-radius: 2px;
  cursor: pointer !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--font-primary);
}

.mdc-snackbar{
  z-index: 1000 !important;
}

.mdc-floating-label {
  color: var(--font-primary) !important;
}

p {
  color: var(--font-highlight);
  margin-top: 0;
}
.service-list {
  height: 20%;
}
.sidebar-content {
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar {
  height: 100vh;
  padding-top: 5rem;
  max-width: 15rem;
  min-width: 15rem;
  width: 15rem;
  background: var(--background-secondary);
  border-color: var(--hover-primary);
  border-right-width: 1px;
  border-style: solid;
  font-size: large;
  color: var(--font-primary);
}
.sidebar-item-header {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: ease 0.5s;
  color: var(--font-highlight);
}

.sidebar-item-header i {
  color: var(--theme-primary);
}

.sidebar-item-header-slim {
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: ease 0.5s;
  color: var(--font-highlight);
}


@media (max-height: 900px) {
  .sidebar-item-header {
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    transition: ease 0.5s;
    color: var(--font-highlight);
  }
  .sidebar-item {
    padding: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: ease 0.5s;
    font-size: 1rem;
  }
  .mdc-data-table {
    max-height: 65vh !important;
  }
  .log-list {
    max-height: 65vh !important;
  }
}

.sidebar-item {
  padding: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: ease 0.5s;
  font-size: 1rem;
}
.content-block .fas {
  color: var(--font-primary);
}
.sidebar-item:hover {
  background: var(--hover-primary);
  cursor: pointer;
  color: var(--font-highlight);
  border-color: var(--hover-primary);
}
.sidebar-selected {
  background: var(--hover-primary);
  color: var(--theme-primary);
  border-color: var(--background-secondary);
}
.content-block {
  height: 100vh !important;
  width: 100vw !important;
  align-content: center;
  overflow: scroll;
  border-style: none;
}
hr {
  border-color: var(--background-secondary);
  border-width: 1px;
  border-style: solid;
  margin-top: 0vh;
  margin-bottom: 1vh;
}
.section-split {
  margin-bottom: 10px;
  max-height: 1px;
  padding: 0.5px;
  background-color: var(--font-primary);
  width: 100%;
}
h1,
h2,
h3 {
  margin: 0px;
  font-weight: lighter;
  color: var(--font-highlight);
}

.title {
  font-size: xx-large;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 1vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 2rem;
  max-height: 2rem;
  background-color: var(--theme-primary);
  color: #ffffff;
  font-family: "Mazzard-Light";
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
sup {
  font-size: medium;
  margin-left: 5px;
}

.header-block {
  display: flex; 
  justify-content: space-between; 
  flex-basis: max-content;
  margin-bottom: 2vh;
  min-height: 56px;
  width: 100%;
}

.section-left {
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: auto !important;
  margin-bottom: auto !important;
  height: 50%;
}

.section-right {
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: auto !important;
  margin-bottom: auto !important;
  height: 50%;
}

.section-right > .mdc-fab,.mdc-text-field {
  margin: auto !important;
  margin-left: 5px !important;
}

.section-nav-item {
  margin-left: 20px;
  cursor: pointer;
  font-family: "Mazzard";
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
}
.section-brand {
  font-size: x-large;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}
.footer {
  color: var(--font-primary);
}
.link-item-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.link-item {
  margin-right: 1vw;
  color: var(--theme-primary);
  background-color: var(--light-background-primary);
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.device-chart {
  max-height: 400px;
  margin: 0;
  margin-right: 1vw;
  display: inline-block !important;
}
.canvas-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 75vh;
  overflow: hidden;
}

.canvas-block {
  margin-right: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  padding-top: 0vw;
  width: 200px;
  height: 200px;
  background: var(--background-secondary);
  border-color: var(--hover-primary);
  border-style: solid;
  border-width: 1px;
  transition: ease 0.21s;
}
.cb-expand:hover {
  width: 500px;
}

.canvas-header {
  background: var(--hover-primary);
  margin-top: 0px !important;
  margin-left: -2vw;
  margin-right: -2vw;
  padding: 1vw;
  margin-bottom: 2vw;
  height: 10px;
  text-align: center;
}
.mdc-button {
  color: var(--theme-primary) !important;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
.inner-frame {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: none;
  overflow-x: hidden !important;
  height: 100vh;
}
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #000000CC;
  display: none;
  z-index: 100;
}

.mdc-text-field {
  margin-bottom: 1vh;
}

.table-pagination {
  display: inline-flex;
  flex-flow: row;
}



.action-button {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: var(--hover-primary);
  color: #ffffff;
  font-weight: bold;
  background-color: var(--theme-primary);
  padding: 8px;
  margin-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  border-radius: 100px;
  transition: ease 0.5s;
}
.action-button:hover {
  background-color: var(--theme-primary);
}

.ab-danger {
  background-color: var(--error-primary) !important;
  transition: ease 2s;
}
.ab-danger:hover {
  background-color: var(--error-hover) !important;
}

.ab-warn {
  background-color: var(--warn-primary) !important;
  transition: ease 0.5s;
}
.ab-warn:hover {
  background-color: var(--warn-hover) !important;
}

.ab-success {
  background-color: var(--success-primary) !important;
  transition: ease 0.5s;
}
.ab-success:hover {
  background-color: var(--success-hover) !important;
}

.mdc-data-table__table,
.mdc-data-table__table,
.mdc-data-table__row,
.mdc-data-table__content {
  overflow-x: hidden !important;
}
.mdc-data-table__row {
  cursor: pointer;
}

.mdc-data-table__row {
  transition: ease 0.1s;
}

.pagination-button {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--hover-primary);
  background: var(--background-primary);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 2vh;
  max-height: 2vh;
  cursor: pointer;
}
.pagination-button:hover {
  background-color: var(--hover-primary);
}
.pg-selected {
  background-color: var(--hover-primary);
}
.service-action {
  color: var(--font-highlight);
  cursor: pointer;
  padding: 10px;
  background-color: var(--background-secondary);
  border-color: var(--hover-primary);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.service-action:hover {
  background-color: var(--hover-primary);
}
.modal {
  background-color: var(--background-primary);
  border-radius: 2px;
  color: var(--font-highlight);
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  position: relative;
  left: 35vw;
  top: 35vh;
  padding: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}

.md-large {
  min-width: 60vw;
  max-width: 60vw;
  min-height: 60vh;
  max-height: 60vh;
  left: 15vw;
  top: 15vh;
  text-align: left;
  padding: 1vw;
}

.detail-row {
  display: flex;
  flex-flow: row;
}
.detail-label {
  font-weight: bold;
  margin-right: 5px;
}
.detail-value {
  font-weight: normal;
}

.table-input {
  min-width: 100%;
  min-height: 100%;
  border-style: none;
  font-family: "Mazzard";
  -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;
  background-color: rgba(255, 255, 255, 0);
}
.big-text {
  font-size: 4rem; padding-top: 15%; width: 100%; text-align: center
}